
body {
  background: linear-gradient(
    123deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 9%,
    rgba(95, 16, 210, 1) 15%,
    rgba(34, 218, 171, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}

.card-title {
  color:  #5dd39e;
  font-size: larger;
}

#jumbo-title {
  color: #5dd39e;
  font-family: "Rubik Mono One", sans-serif;
}

.card {
  margin: 2rem;
}

.display-2 {
  text-align: center;
}

.lead {
  font-size: 3rem;
  text-align: center;
}

.jumbotron {
  background-color: #262529;
  opacity: 0.7;
}

.btn {
  background-color: rgb(95, 170, 95);
}

.col-md-4 {
  margin: 0.05rem;
}

.card-body {
  background-color: black;
  opacity: 0.9;
}
.card-text {
  color: white;
}

/* #text-color-overlay {
  color: white;
} */
.btn {
  background-color: #348aa7;
  font-family: "Rubik Mono One", sans-serif;
}
