.card-title {color: blue; font-size: larger;
}
#jumbo-title {color: royalblue;1
}


.navbar {background-color:royalblue  }

.card {margin: 2rem;}

.display-2 {text-align: center;}

.lead {font-size: 3rem; text-align: center;}

.jumbotron {background-color: rgb(221, 236, 247)}

.btn {background-color: rgb(95, 170, 95);}

.col-md-4 {margin: .05rem;}

.card-body {background-color: rgb(221, 236, 247);}


    #text-color-overlay {color: white} 
